  <div class="header cw">
    <div class="link-bar">
      <div class="c cb">
        <p class="rt">
          <a href="javascript:;" class="on">中文</a>丨<a href="javascript:;">English</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="javascript:;">新会员注册</a>丨<a href="javascript:;">登录个人会员系统</a>丨<a href="javascript:;">联系我们</a>
        </p>
      </div>
    </div>
    <div class="head-bar">
      <div class="c cb">
        <a href="javascript:;" class="logo lf"></a>
        <div class="search rt">
          <input type="" name="" value=""><a href="" class=""></a>
        </div>
      </div>
    </div>
    <div class="nav-bar">
      <div class="c">
        <ul class="nav-one">
          <li class="item"><a href="">首页</a></li>
          <li class="item">
            <a href="">关于学会</a>
             <ul class="nav-two">
              <li class="item2"><a href="">学会动态</a></li>
              <li class="item2"><a href="">学会动态</a></li>
              <li class="item2"><a href="">学会动态</a></li>
            </ul> 
          </li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
        </ul>
      </div>
    </div>
  </div>
