<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
  <%- include('./blocks/_header-link.html') %>
  <link rel="stylesheet" href="css/member-p.css">
</head>
<body>
	<%- include('./blocks/_header.html') %>
	<div class="cw">
		<div class="member-banner-wrap">
			<div class="c">
				<div class="banner">
					<div class="infor">
            <h3>中国化学会&nbsp;&nbsp;<i>个人会员</i>&nbsp;&nbsp;中心</h3>
            <p>在化学及其相关技术领域从业的专业人士，包括从事化学科学技术研究、开发、应用、教育、管理、传媒、服务以及其他领域对化学应用与普及有兴趣的人士，凡化学专业水平相当于大学本科者，均可申请加入本会。</p>
        </div>
        <div class="reg">
            <a href="" class="btn-orange-xl">马上成为中国化学学会会员</a>
        </div>
				</div>
			</div>
		</div>
		<div class="breadcrumb2">
			<div class="c cb">
				<p class="rt">
					所在位置：&nbsp;&nbsp;
					<a href="">中国化学会</a>&nbsp;&nbsp;>&nbsp;&nbsp;
					<a href="">个人会员</a>&nbsp;&nbsp;>&nbsp;&nbsp;
					<a href="">会员条例</a>
				</p>
			</div>
		</div>
		<div class="member-title-wrap">
			<div class="c">
				<p class="f30 cmain">入会须知</p>
			</div>
		</div>
		<div class="c member-main">
				<div class="left">	
						<div class="tab-nav">
							<div style="border:1px dashed #7dc7fd;">
								<p class="caption">个人会员</p>
								<ul>
									<li>
										<a href="">
											<img src="img/member-p/icon1.png" alt="">
											入会须知
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon2.png" alt="">
											会员条例
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon3.png" alt="">
											常见问答
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon4.png" alt="">
											会员登录
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon5.png" alt="">
											联系我们
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon6.png" alt="">
											化学通讯
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="notice">
								<p class="p1">
									欢迎 <i>孙瑞祥</i> 会员加入中国化学会
								</p>
								<p class="p2">
									咨询：qiaoqinzhao@iccas.ac.cn
								</p>
						</div>
						<a href="" class="btn-green-l">点击申请中国化学会会员</a>
				</div>
				<div class="memeber-content">
					<p class="caption">
						『 个人会员种类 』
					</p>
					<table class="category">
						<thead>
						  <tr>
						  	<td class="td1">会员种类</td>
						  	<td>简要说明</td>
						  </tr>
						</thead>
						<tr>
						  	<td class="td1">学生会员</td>
						  	<td>化学及相关专业在读学生。</td>
						  </tr>
					  <tr>
					  	<td class="td1">普通会员</td>
					  	<td>高等院校本科毕业或具有相当水平的在化学相关技术领域从业的专业人士。</td>
					  </tr>
					  <tr>
					  	<td class="td1">海外会员</td>
					  	<td>除中国大陆、港澳台以外的国家和地区高等院校本科毕业或具有相当水平的在化学及其相关技术领域从业的专业人士。</td>
					  </tr>
					</table>
					<p class="caption">
						『 入会流程 』
					</p>
					<img src="img/member-p/process.jpg" alt="" style="_width:975px;">
					<p class="caption">
						『 缴费方式 』
					</p>
					<table class="category pay mb60">
						<thead>
						  <tr>
						  	<td class="td1">支付方式</td>
						  	<td>简要说明</td>
						  </tr>
						</thead>
						<tr>
						  	<td class="td1"><img src="img/member-p/alipay.jpg" alt=""></td>
						  	<td class="td2"><span class="cmain">支付宝支付</span>只要您有网上银行，就可以直接进行支付。</td>
						  </tr>
					  <tr>
					  	<td class="td1"><img src="img/member-p/wxpay.jpg" alt=""></td>
					  	<td class="td2"><span class="cmain">微信支付</span>北京市海淀区中关村北一街2号，中国化学院化学研究所10号楼三楼科普办公室</td>
					  </tr>
					  <tr>
					  	<td class="td1"><img src="img/member-p/unionpay.jpg" alt=""></td>
					  	<td class="td2">
					  		<span class="s1">银行转账</span>
					  		<span class="s2">开户名：中国化学会<br>  
											开户行：北京银行中关村支行 <br>  
											账   号：0109 0302 9001 2010 5010 704
								</span>
						</td>
					  </tr>
					</table>
				</div>
		</div>
	</div>

	<%- include('./blocks/_footer.html') %>
	<script>
	$('.tab-nav a').mouseenter(function(){
		$(this).addClass('hover');
		var src = $(this).find('img').attr('src');
		var srcOn = src.substring(0,18) + '-on.png';
		$(this).find('img').attr('src',srcOn);
	}).mouseleave(function(){
		$(this).removeClass('hover');
		var srcOn = $(this).find('img').attr('src');
		var src = srcOn.substring(0,18) + '.png';
		$(this).find('img').attr('src',src);
	})
	</script>
</body>
<html>