<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
  <%- include('./blocks/_header-link.html') %>
  <link rel="stylesheet" href="css/member-p.css">
</head>
<body>
	<%- include('./blocks/_header.html') %>
	<div class="cw">
		<div class="member-banner-wrap">
			<div class="c">
				<div class="banner">
					<div class="infor">
            <h3>中国化学会&nbsp;&nbsp;<i>个人会员</i>&nbsp;&nbsp;中心</h3>
            <p>在化学及其相关技术领域从业的专业人士，包括从事化学科学技术研究、开发、应用、教育、管理、传媒、服务以及其他领域对化学应用与普及有兴趣的人士，凡化学专业水平相当于大学本科者，均可申请加入本会。</p>
        </div>
        <div class="reg">
            <a href="" class="btn-orange-xl">马上成为中国化学学会会员</a>
        </div>
				</div>
			</div>
		</div>
		<div class="breadcrumb2">
			<div class="c cb">
				<p class="rt">
					所在位置：&nbsp;&nbsp;
					<a href="">中国化学会</a>&nbsp;&nbsp;>&nbsp;&nbsp;
					<a href="">个人会员</a>&nbsp;&nbsp;>&nbsp;&nbsp;
					<a href="">会员条例</a>
				</p>
			</div>
		</div>
		<div class="member-title-wrap">
			<div class="c">
				<p class="f30 cmain">欢迎您申请中国化学会个人会员</p>
			</div>
		</div>
		<div class="c member-main">
				<div class="left">	
						<div class="tab-nav">
							<div style="border:1px dashed #7dc7fd;">
								<p class="caption">个人会员</p>
								<ul>
									<li>
										<a href="">
											<img src="img/member-p/icon1.png" alt="">
											入会须知
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon2.png" alt="">
											会员条例
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon3.png" alt="">
											常见问答
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon4.png" alt="">
											会员登录
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon5.png" alt="">
											联系我们
										</a>
									</li>
									<li>
										<a href="">
											<img src="img/member-p/icon6.png" alt="">
											化学通讯
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="notice">
								<p class="p1">
									欢迎 <i>孙瑞祥</i> 会员加入中国化学会
								</p>
								<p class="p2">
									咨询：qiaoqinzhao@iccas.ac.cn
								</p>
						</div>
						<a href="" class="btn-green-l">点击申请中国化学会会员</a>
				</div>
				<div class="memeber-content reg1">
					<table class="table1 mt30">
						<tr>
							<td class="td1">『 温馨提示 』</td>
						</tr>
						<tr>
							<td><p class="line30">如果您已经在本网站注册过会员或会议，请不要重复注册。<br>您可以凭您的用户名和密码直接&nbsp;<a href="">登录</a>&nbsp;，然后继续申请会员。若果您忘记密码，请点击“<a href="">找回密码</a>”。</p></td>
						</tr>
					</table>
					<img src="img/member-p/process2.jpg" alt="" style="_width:975px;" class="mt30">
					<table class="table1 mt30">
						<tr>
							<td class="td1">『 个人会员须知 』</td>
						</tr>
						<tr>
							<td>
								<div class="td2">
									<p>一、办理手续常见问答</p>
									<p>（1）缴费后是否有发票？</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;中国化学会为每一位缴费会员提供财政部监制的加盖中国化学会财务章的可报销的收据。收据和会员证将用挂号信邮寄给您。</p>
									<p>（2）那种缴费方式办理会员最快？</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;我们虽然有三种缴费方式：支付宝、微信扫码和银行转账，支付宝直接支付、微信扫码支付（不是支付宝转账）是最快的。</p>
									<p>（3）银行转账为什么最慢？</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;中国化学会处理银行转账的流程：你通过银行转账后，办理会员的工作人员并不能立即看到您的转账，而是会计到北京银行拿您的转账单，再开发票给办理会员证的工作人员，办理会员的工作人员拿到发票后才能给您办理会员。这个过程一般需要5-10天，如果您转账后半个月过去还没有办理会员的通知，说明您在转账时没有注明姓名和申请号。请您自动联系我们的卢会计：010-82449177-810。</p>
									<p>（3）银行转账为什么最慢？</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;中国化学会处理银行转账的流程：你通过银行转账后，办理会员的工作人员并不能立即看到您的转账，而是会计到北京银行拿您的转账单，再开发票给办理会员证的工作人员，办理会员的工作人员拿到发票后才能给您办理会员。这个过程一般需要5-10天，如果您转账后半个月过去还没有办理会员的通知，说明您在转账时没有注明姓名和申请号。请您自动联系我们的卢会计：010-82449177-810。</p>
								</div>
							</td>
						</tr>
					</table>
					<div class="next1">
					<div>
						<input type="checkbox">已经阅读且完全同意
						<a href="" class="btn-blue-s ml20">下一步</a>
					</div>
						
					</div>
				</div>
		</div>
	</div>

	<%- include('./blocks/_footer.html') %>
	<script>
	$('.tab-nav a').mouseenter(function(){
		$(this).addClass('hover');
		var src = $(this).find('img').attr('src');
		var srcOn = src.substring(0,18) + '-on.png';
		$(this).find('img').attr('src',srcOn);
	}).mouseleave(function(){
		$(this).removeClass('hover');
		var srcOn = $(this).find('img').attr('src');
		var src = srcOn.substring(0,18) + '.png';
		$(this).find('img').attr('src',src);
	})
	</script>
</body>
<html>